*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    list-style-type: none;
}
p{
    heigth:20px;
}
.bandeira{
    width:60px;
    height:30px;
}
.fundocopa{
    position:absolute;
    top:0px;
    width:400px;
    height:600px;
    background-image: url("fundocopa.png");
    background-size: cover;
}
.logo{
    width:90%;
    height:25%;
    background-image: url("bannerca.png");
    background-size: cover;
}
.logo1{
    width:360px;
    height:125px;
    
}

.grupos{
    position:absolute;
    left:5%;
    width:340px;
    height:320px;
    background-image: url("grupos.png");
    background-size: cover;
}

.clickable-area {
    position: absolute;
    cursor: pointer;
}
/* Exemplo de areas clicaveis*/
.area1 {
    top: 14px;
    left: 44px;
    width: 86px;
    height:26px;
}
.area2 {
    top: 14px; 
    left: 220px; 
    width: 86px;
    height:26px;
}
.area3 {
    top: 170px;
    left: 44px; 
    width: 86px;
    height:26px;
}
.area4 {
    top: 170px;
    left: 220px; 
    width: 86px;
    height:26px;
}

.botao{
    width:22px;
    height:16px;
}
.times {
    display: flex;
   flex-direction: column;

   background-color: rgba(0, 0, 0, 0);
    width: 275px;
    height: 453px;
}
.banner {
    width: 360px;
    height: 90px;
   }
.modelo-grupo {
    width: 360px;
    height: 950px;
    position: absolute;
    top:105px;
    left: 0px;
    font-size: 12px;
    color: white;
    background-image: url("fundocopa.png");
    background-size: cover;
    font-family: inter;
}
.grupoa{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    width:360px;
    height:700px;
 
.letreiro{
    width:200px;
    height:50px;
}

